<header id="masthead">
    <div class="container">
        <div class="row center-md">
            <div class="col-md-9">
                <img src="img/kollect-logo-masthead.svg" alt="Kollect">
                <h1 class="masthead-title">{{ site.description }}</h1>
                <a class="button button-large" href="/docs/compile/">Learn More</a>
                <div class="masthead-stars">
                    <a href="https://github.com/arrow-kt/arrow/stargazers">
                    <i class="fa fa-star"></i>
                    <span id="stars"></span>
                </a>
                </div>
            </div>
        </div>
    </div>
</header>